html{
    color:#000;
    background: #FFF;
    font-family: 'Whitney SSm A','Whitney SSm B';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    overflow: scroll;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 146px;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.8),rgba(255,255,255,0));
    margin : 0;
    padding: 0;
    vertical-align: middle;
}

.tip{
   margin: 50px 50px 50px 12px;
}

.logo {

    letter-spacing: .5px;
    white-space: nowrap;/*强制不换行*/
    text-decoration: none;
    cursor: pointer;
}


.btn{
    display: inline-block;
    border: 1px solid rgba(0,0,0,.3);
    font-weight:700;
    font-size: 12px;
    text-align: center;
    letter-spacing: .5px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius: 40px;;
    white-space: nowrap;/*强制不换行*/
    text-decoration: none;
    cursor: pointer;
}



.btn-signup{
    padding:13px 25px ;
    vertical-align: middle;
    position: relative;
    margin-right: 20px;
}
.btn-signup:before {
    content: '';
    position: absolute;
    border: white solid 3px;
    border-radius: 40px;
    top: 1px;
    left:1px;
    right: 1px;
    bottom: 1px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.btn-signup:hover:before, .btn-signup:focus:before, .btn-signup:active:before {
    opacity: 0.4;/*不透明级别*/
}

.btn-signup:hover,.btn-signup:focus,.btn-signup:active{
    color:white;
}

.btn-orange{
    background: #FAB117;
    color:white;
    border-style: none;
}

.btn-red{
    background: #EF6756;
    color:white;
    border-style: none;
}
.btn-login{
    margin-right:30px;
    vertical-align: middle;
    position: relative;
    color:black;
    padding:12px 26px ;
}

.btn-login:before {
    content: '';
    position: absolute;
    border: gray solid 3px;
    border-radius: 40px;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.btn-login:hover:before, .btn-login:focus:before, .btn-login:active:before {
    opacity: 0.2;/*不透明级别*/
}


.btn-menu{
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    letter-spacing: .5px;
}
.btn-menu:hover,.btn-menu:focus,.btn-menu:active,.btn-menu:link{
    text-decoration: none;
}

.color-blue{
    color:#02546E;

}

.icon-collapse{
    width:29px;
    height:25px;
    margin-left: 5px;
}

.icon-collapse-close{
    display: none;
}

.icon-close{
    display: none;
}

.icon-close-toggle{
    display:block;
    position: absolute;
    top:10px;
    right:110px;
    width: 23px;
    height: 23px;;
}

.mod-signup{
    display:none;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    z-index: 100;
}

.show{
    display: block;
}
.overlay{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    background: rgba(0,0,0,.8);
    z-index: 10;
}

.signup-form{
    z-index: 11;
    max-width: 458px;
    max-height: 480px;
    padding:40px 55px;
    border-radius: 4px;
    box-sizing: border-box;/*css3属性，另浏览器呈现出带有指定高度和宽度的框，并把边框和内边距放入框中*/
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;/*重要*/
    background: white;
    letter-spacing: .6px;
}

div,p{
    margin:0;
    padding:0;
}
.head{
    margin-bottom: 10px;
}

.head>h3{
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.head>p{
    font-size: 13px;
    line-height: 1.6;
    padding-bottom: 15px;
    color:#a2a2a2;
}


.head>img{
    width:60px;
    height:60px;
    position: absolute;
    top:43px;
    right:60px;
}
.form>input{
    border:2px solid #DDD;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 4px;
    color:#08546d;
    font-weight: 700;
    font-size: 16px;
    box-sizing: border-box;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: lightgrey;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: lightgrey;
}

.footer{
    padding-top: 20px;
    text-align: center;
}

.btn-blue{
    color:white;
    background-color: #02546E;
    border: transparent;/*同border-style=none；*/
}

.btn-submit{
    padding:13px 25px;
    font-size: 18px;
    width: 100%;
    max-width: 250px;
    height: 58px;
    position: relative;/* 绝对定位的父元素也要定位，不然就会去找最近的已经定位了盒子去定位（like：body）*/
}

.btn-submit::before {
    content: '';
    position: absolute;
    border: white solid 3px;
    border-radius: 40px;
    top: 1px;
    left:1px;
    right: 1px;
    bottom: 1px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.btn-submit:hover:before, .btn-submit:focus:before, .btn-submit:active:before {
    opacity: 0.5;/*不透明级别*/
}
.btn-submit:hover,.btn-submit:focus,.btn-submit:active{
    color:white;
}


.mod-signup .footer a:first-child {/*伪类*/
    margin-right: 15px;
}

.mod-signup .footer a {
    text-decoration: underline;
    color: #a2a2a2;
    font-size: 13px;
    line-height: 1.6;
}

.open{
    position: fixed;
    top:146px;
    left:0;
    right:0;
    bottom: 0;
    display: none;
}

ul,ol{
    list-style: none;
}

.open .container{
    position: absolute;
    top:0;
    width:100%;
    height: 125px;
    background: #02546E;
    z-index: 10;
}

.item-list{
    margin:0px 110px;
    max-width: 1180px;
}

.item{
    color: #FFFFFF;
    width:220px;
    height:125px;
    float: left;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .5px;
    position: relative;/*方便子元素定位找到最近的以定位的包含块*/
}

.item>div{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    min-height: 125px;
    padding-top:80px;
}

.item>div>a{
    color: #ffffff;
    text-decoration: none;
}
.open .overlay{
    position: absolute;
    top:0;
    width:100%;
    background: rgba(0,0,0,.8);
    z-index: 2;

}

.bg-blue{
    background-color: #02546E;
}

.bg-orange{
    background-color: #F9B031;
}

.bg-red{
   background-color: #EF6756;
}

.bg-lightblue{
    background-color: #65C7D6;
}

.container .item .expandable {
    transition: padding-top .4s ease, height .4s ease;
    overflow: visible;
}
.sub-item{
    display:none;
    padding-top: 15px;
}

.expandable:hover .sub-item{
    display: block;
}

.expandable:hover{
    /*height: auto;*/
    padding-top: 50px;
    padding-bottom: 10px;
    transition: padding-top .4s ease,height .4s ease;
    border-radius: 0 0 4px 4px;

}

.container .item a{
    text-decoration: none;
    color: white;
    padding:8px;
    display:block;
}

.container .sub-item .btn {
    border: 1px solid #fff;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 13px 25px;
    display: inline-block;
    background-color: transparent;
}
.container .sub-item .btn:hover {
    outline: 0;
    box-shadow: inset 0 0 0 3px rgba(0,0,0,.1);
}

.header-spacer{
    display: block;
    height: 146px;
}

/*hero 中央字幕*/
.page-hero{
    text-align: center;
    padding:80px 0px;
    letter-spacing: .5px
}

.color-orange{
    color: #FAB117;;
}

.color-red{
    color: #f26651;
}

.color-lightblue{
    color:#5FC8D7;
}

.page-hero h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;/*行间距，应用到一个块级元素时，它定义了该元素中基线之间的距离*/
    margin-bottom: 20px;
}

.page-hero p{
    color: #9B9B9B;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 50px;
}

/*case 案例*/
.page-case{
    position: relative;
    height: 80px;
    background-color: #f7f7f7;
    width: 1423px;/*我电脑屏幕的宽度*/
    margin: 0px auto;
}

.case-outer {
    overflow: hidden;
    width: 3000px; /*使标签都在一行~*/
    transform: translate3d(-300px, 0px, 0px);
    transition: 0.25s;
    height: 80px;
}
.case-item{
    position: relative;/*相对定位设定right，left使元素相对与其正常位置进行偏移*/
    right:0;
}
.case-item img{
    height:80px;
    width:150px;
    display:block;
    margin: 0;
    padding: 0;
    opacity: .5;
    float:left;
}

.case-item img:hover{
    opacity:1;
}

.case-control{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    pointer-events: none;/*使用pointer-events来阻止元素成为鼠标事件目标----设置或检索在何时成为属性事件的target*/

}

.key-next,.key-prev{
    font-size: 30px;
    line-height: 80px;/*一分为二分别加在文本的顶部和底部*/
    /*vertical-align: middle;*/
    cursor: pointer;
    color: #999;
    width: 50px;
    background-image: -webkit-linear-gradient(left,rgba(247,247,247,1),rgba(247,247,247,0));

}

.key-prev{
    float: left;
    padding-left: 8px;
    pointer-events: auto;/*与pointer-events属性未指定时的表现效果相同*/
}


.key-next{
    float: right;
    text-align: right;
    pointer-events: auto;
}

.page-teaser{
    max-width: 100%;
    padding: 0;/*这两句话等同设置width=1423px，适应多种屏幕*/
    height:619px;
}

.product-styleguide{
    padding-top: 40px;
    background: #fcb100 url(https://app.frontify.com/upload/screens/16651/45e52ee333a4fcba3b65dc068d1891cc.svg)
                no-repeat center 170px ;/*no-repeat 不会重复平铺，css3可同时设置多个背景图片~*/
    background-size: 70% auto;
    text-align: center;
}

.product-workspace{
    padding-top: 40px;
    background: #f26651 url(https://app.frontify.com/upload/screens/16651/c563330ab891e04c0f1379bcb7f63994-1429624890.svg)
                no-repeat center 170px;/*no-repeat 不会重复平铺，css3可同时设置多个背景图片~*/
    background-size: 70% auto;/*百分比是根据内容标签元素大小，来缩放图片的尺寸大小*/
    text-align: center;
}
.page-teaser h2 {
    color: #FFF;
    font-size: 40px;
    font-weight:400;
    margin-bottom: 8px;
    letter-spacing: 1.5px;
}


.page-teaser p {
    font-size: 18px;
    line-height: 1.4;
    color: rgba(255,255,255,.8);
    margin-bottom: 350px;
}
.btn-bar{
    margin: 0 -15px;/*不脱离文档流不使用float的话，负margin元素是不会破坏页面的文档流。
                        所以如果你使用负margin上移一个元素，所有跟随的元素都会被上移。
                        上和左一样，下和右设置负margin，这个元素不会动，后面的元素移动并会被此元素覆盖*/
    background: rgba(255,255,255,.5);
    padding: 30px;/*撑开容器*/
    cursor: pointer;
    /*text-align:center 所以所包含的button居中显示*/
}

.btn-large{
    padding: 22px 45px;
    letter-spacing: 1px;
    font-size:20px;
}

.page-company-feature{
    max-width: 100%;
    margin:0;
    padding: 0;
    height:586px;
    background: url(https://app.frontify.com/upload/screens/16651/9e344220b44b96ce3a9174e7267823d5-1431333200.jpg) ;
    background-size: cover;
}

.coating{
    background-color: rgba(96,199,215,.8);
    padding: 43px 0 80px;
    margin:0;
    color: #fff;
    letter-spacing: 1px;
}

.coating h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 45px;

}

.coating p{
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 100px;
    padding-left: 135px;
    padding-right: 20px;

}

.btn-company-feature{
    padding-left:130px;
}

.page-testimonial{
    margin: 0;
    padding: 70px 0 50px 0;
}

.page-testimonial h2{
    margin:0 0 40px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
}

.line{
    max-width: 1180px;
    margin: 0 auto;/*居中*/
    font-size: 16px;
    letter-spacing: .3px;
    font-weight: 500;
    height: 200px;
}

.line a{
    text-decoration: underline;
}










